
<td-layout-card-over  *ngIf="retailEndpoint" [cardTitle]="retailEndpoint.retailEndpointName" [cardSubtitle]="retailEndpoint.retailEndpointIdentity">
    <div *tdLoading="'endpointDetail'; color:'primary'"> 
        <p class="pt-4 d-flex flex-row">
            <label class="detail-label">IP</label>
            <a mat-button color="primary">{{retailEndpoint.retailEndpointHost}}</a>
        </p>
        <p class="d-flex flex-row">
            <label class="detail-label">URL</label>
            <a href="{{ retailEndpoint.retailEndpointUrl }}" mat-button color="primary" target="_blank"><mat-icon>aspect_ratio</mat-icon> {{ retailEndpoint.retailEndpointUrl }}</a>
        </p>

        
        <div class="pt-2 d-flex flex-row">
            <div class="detail-label">Расширение</div>
            <div class="d-flex flex-row">
                <app-endpoint-version [retailVersion]="retailEndpoint.extData.retailVersion"></app-endpoint-version>
                <app-endpoint-ext-configuration 
                    (click)="changeExtConfiguration()"
                    *ngIf="retailEndpoint.extData.retailExtConfiguration && retailEndpoint.extData.retailExtConfiguration.jsonData"
                    [retailExtConfiguration]="retailEndpoint.extData.retailExtConfiguration" >
                </app-endpoint-ext-configuration>
                <div>
                    <button mat-raised-button color="warn" class="ml-2" (click)="changeExtConfiguration()">Изменить конфигурацию расширения</button>
                </div>
            </div>
        </div>
        <mat-divider class="mt-4"></mat-divider>
        
        <p class="pt-4 mt-4 ">
            <button mat-raised-button color="primary" class="mr-2" (click)="updateData()">Попытаться получить данные из 1С</button>
        </p>
        
        <p class="pt-2">
            <button mat-raised-button color="accent" class="mr-2" (click)="run_apply_cfe()">Отправить сигнал на обновление расширения</button>
            <button mat-raised-button color="accent" class="mr-2" (click)="run_exRetailOle()">Отправить сигнал на запуск обмена с УТ</button>
        </p>

        <mat-divider class="mt-4"></mat-divider>
        <p class="detail-label">Данные по кассе</p>
        <app-cashier-check-info-endpoint [retailEndpointIdentity]="retailEndpointIdentity"></app-cashier-check-info-endpoint>        
    </div>
</td-layout-card-over>

