
<td-layout-card-over  *ngIf="retailEndpoint" [cardTitle]="retailEndpoint.retailEndpointName" [cardSubtitle]="retailEndpoint.retailEndpointIdentity">
    <div *tdLoading="'endpointDetail'; color:'primary'"> 
        <p class="pt-4 d-flex flex-row">
            <label class="label">IP : </label>
            <span>{{retailEndpoint.retailEndpointHost}}</span>
        </p>
        <p class="d-flex flex-row">
            <label class="label">URL : </label>
            <a href="{{ retailEndpoint.retailEndpointUrl }}" target="_blank">{{ retailEndpoint.retailEndpointUrl }}</a>
        </p>

        <mat-divider></mat-divider>
        <p class="pt-2">
            <label class="label">Расширение : </label>
            <app-endpoint-ext-configuration 
                *ngIf="retailEndpoint.extData.retailExtConfiguration && retailEndpoint.extData.retailExtConfiguration.jsonData"
                [retailExtConfiguration]="retailEndpoint.extData.retailExtConfiguration" 
            >
            </app-endpoint-ext-configuration>

            <app-endpoint-version [retailVersion]="retailEndpoint.extData.retailVersion"></app-endpoint-version>
        </p>
        <mat-divider></mat-divider>
        <p class="pt-3">
            <button mat-raised-button color="primary" class="mr-2" (click)="updateData()">Попытаться получить данные из 1С</button>
        </p>
        <mat-divider></mat-divider>
        <p class="pt-3">
            <button mat-raised-button color="accent" class="mr-2" (click)="run_apply_cfe()">Отправить сигнал на обновление расширения</button>
            <button mat-raised-button color="accent" class="mr-2" (click)="run_exRetailOle()">Отправить сигнал на запуск обмена с УТ</button>
        </p>
        <mat-divider></mat-divider>
        <p class="pt-3">            
            <button mat-raised-button color="warn" class="mr-2" (click)="changeExtConfiguration()">Изменить конфигурацию расширения</button>
        </p>
    </div>
</td-layout-card-over>
