
<mat-card>
    <mat-card-header>
        <mat-card-title>{{date | date:'dd.MM.yyyy'}}</mat-card-title>
      </mat-card-header>
    <mat-card-content>
        <mat-list *ngIf="data">
            <mat-list-item> 
                <span matListItemTitle>Продажа</span>
                <span matListItemLine class="text-end">{{data.sumSale | currency:'RUB':'symbol-narrow'}}</span>
            </mat-list-item>
            <mat-list-item> 
                <span matListItemTitle>Вовзрат</span>
                <span matListItemLine class="text-end">{{data.sumReturn | currency:'RUB':'symbol-narrow'}}</span>
            </mat-list-item>
            <mat-list-item> 
                <span matListItemTitle>Наличные</span>
                <span matListItemLine class="text-end">{{data.sumCash | currency:'RUB':'symbol-narrow'}}</span>
            </mat-list-item>
            <mat-list-item> 
                <span matListItemTitle>Терминал</span>
                <span matListItemLine class="text-end">{{data.sumTerminal | currency:'RUB':'symbol-narrow'}}</span>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
    

