<table td-data-table>
    <thead>
        <tr td-data-table-column-row>
          <th td-data-table-column [name]="'date'">Дата</th>
          <th td-data-table-column [name]="'sumSale'">Продажа</th>
          <th td-data-table-column [name]="'sumReturn'">Возврат</th>
          <th td-data-table-column [name]="'sumTerminal'">Терминал</th>
          <th td-data-table-column [name]="'sumCash'">Наличные</th>
        </tr>
    </thead>
    <tbody *ngIf="data$ | async as checkInfo">
        <tr td-data-table-row   *ngFor="let row of checkInfo; let npp = index">
          <td td-data-table-cell>{{row.date | date:'dd.MM.yyyy'}}</td>
          <td td-data-table-cell>{{row.sumSale}}</td>
          <td td-data-table-cell>{{row.sumReturn}}</td>
          <td td-data-table-cell>{{row.sumTerminal}}</td>
          <td td-data-table-cell>{{row.sumCash}}</td>
        </tr>
    </tbody>
</table>
