
@import 'node_module/@angular/material/theming';

@include mat-core();

$custom-theme-primary: mat-palette($mat-teal);
$custom-theme-accent: mat-palette($mat-amber, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-deep-orange, 700, 800, 900);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);




$custom-typography: mat-typography-config(
  $font-family: 'sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);


