

  <table mat-table [dataSource]="dataSource">
    
    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата</th>
      <td mat-cell *matCellDef="let element"> 
        {{element.date | date:'dd.MM.yyyy'}}  
      </td>
    </ng-container>

    <!-- retailEndpointName Column -->
    <ng-container matColumnDef="retailEndpointName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Наименвоание склада в 1С</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/endpoints/', element.retailEndpointIdentity]" mat-button color="primary">
        <mat-icon>drag_indicator</mat-icon> {{ element.retailEndpointName }}</a>
      </td>
    </ng-container>

    <!-- sumSale Column -->
    <ng-container matColumnDef="sumSale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Продажа</th>
      <td mat-cell *matCellDef="let element"> 
        {{element.sumSale}}
      </td>
    </ng-container>

    <!-- sumReturn Column -->
    <ng-container matColumnDef="sumReturn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Возврат</th>
      <td mat-cell *matCellDef="let element"> 
        {{element.sumReturn}}
      </td>
    </ng-container>

    <!-- sumTerminal Column -->
    <ng-container matColumnDef="sumTerminal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Терминал</th>
      <td mat-cell *matCellDef="let element">
        {{element.sumTerminal}}
      </td>
    </ng-container>

    <!-- sumCash Column -->
    <ng-container matColumnDef="sumCash">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Наличные</th>
      <td mat-cell *matCellDef="let element"> 
        {{element.sumCash}}  
      </td>
    </ng-container>

  </table>