
div.row-head {
    background-color: #5bc0de;
    color: white;
    /*font-size: 12px;*/
    border-top-color: rgb(220, 220, 220);
    border-top-style: solid;
    border-top-width: 1px;
    padding-left: 3px;
}

div.row-head a {
    color: white;
    text-decoration: underline;
}

.wrap-lines {
    white-space: pre-wrap;
}

div.row-head a:hover {
    color: white;
}

div.row-tall {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 32px;
}

div.row-even {
    background-color: white;
    font-size: 12px;
    border-top-color: rgb(220, 220, 220);
    border-top-style: solid;
    border-top-width: 1px;
}

div.row-odd {
    background-color: rgb(249, 249, 249);
    font-size: 12px;
    border-top-color: rgb(220, 220, 220);
    border-top-style: solid;
    border-top-width: 1px;
}

div.row-table-head {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 4px;
    padding-top: 4px;
}

div.row-table {
    font-size: 12px;
    border-top-style: solid;
    border-top-width: 1px;
    padding-bottom: 4px;
    padding-top: 4px;
}

div.row-table:nth-of-type(even) {
    background-color: rgb(249, 249, 249);
    border-top-color: rgb(220, 220, 220);
}

div.row-table:nth-of-type(odd) {
    background-color: white;
    border-top-color: rgb(220, 220, 220);
}
