
<div>
    <div class="container">
        <div *ngFor="let prop of props" class="row-table row">
            <div class="col-sm">
                <h3 class="fw-bold">{{ prop.label }}</h3>
            </div>
            <div class="col-sm">
                <h3 class="fw-bold {{prop.class}}">{{ prop.value }}</h3>
            </div>
        </div>
    </div>
    <div class="container border rounded {{getCisClassByStatuse()}}">
        <pre>
            <code class="javascript">
                {{ info | json }}
            </code>
        </pre>
    </div>
</div>


