
<mat-toolbar color="primary">
  <a mat-raised-button color="primary" [routerLink]="['/endpoints/grid']">
    <mat-icon>view_list</mat-icon>
    Список торговых точек
  </a>
  
  <a mat-raised-button color="primary"  [routerLink]="['/cash']">
    <mat-icon>view_list</mat-icon>
    Кэш
  </a>

  <a mat-raised-button color="primary"  [routerLink]="['/mark/check']">
    <mat-icon>view_list</mat-icon>
    Проверка принадлежности марки(QR)
  </a>
</mat-toolbar>
<div class="main">
    <router-outlet></router-outlet>
</div>
  