 <td-layout class="layout-nav-main" sidenavWidth="280px">
  <td-navigation-drawer
    flex
    sidenavTitle="Tabakon"
    name="TBK"
  >
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']" tdLayoutToggle>
        <mat-icon>home</mat-icon>
        Главная
      </a>
      
      <a mat-list-item [routerLink]="['/endpoints/grid']" tdLayoutToggle>
        <mat-icon>view_list</mat-icon>
        Список торговых точек
      </a>
      
      <a mat-list-item [routerLink]="['/cash']" tdLayoutToggle>
        <mat-icon>view_list</mat-icon>
        Кэш
      </a>

      <a mat-list-item [routerLink]="['/mark/check']" tdLayoutToggle>
        <mat-icon>view_list</mat-icon>
        Проверка принадлежности марки(QR)
      </a>


      <a mat-list-item tdLayoutToggle>
        <mat-icon>close</mat-icon>
        Закрыть
      </a>
    </mat-nav-list>
  </td-navigation-drawer>
  <td-layout-nav toolbarTitle="Меню" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>


    <router-outlet></router-outlet>
  
  
  </td-layout-nav>
 </td-layout>