<div
 layout="row"
 layout-align="start center"
 class="pad-left-sm pad-right-sm"
>
 <span class="push-left-sm">
   <span class="mat-title">Список торговых точек</span>
 </span>
 <mat-divider></mat-divider>
 <td-search-box
   #searchBox
   [alwaysVisible]="true"
   backIcon="arrow_back"
   class="push-right-sm"
   placeholder="Введите строку для поиска"
   (searchDebounce)="filter($event)"
   flex
 ></td-search-box>
</div>

<mat-divider></mat-divider>
<table td-data-table>
    <thead>
      <tr td-data-table-column-row>
        <th td-data-table-column [name]="'npp'">№ п/п</th>
        <th
          td-data-table-column
          [name]="'retailEndpointName'"
          [sortable]="true"
          [active]="sortBy == 'retailEndpointName'"
          (sortChange)="sort($event)"
          [sortOrder]="sortOrder"
        >
            Наименвоание склада в 1С
        </th>
        <!-- <th
          td-data-table-column
          [name]="'retailEndpointHost'"
          [sortable]="true"
          [active]="sortBy == 'retailEndpointHost'"
          (sortChange)="sort($event)"
          [sortOrder]="sortOrder"
        >
            Retail Endpoint Host
        </th> -->
        <th td-data-table-column [name]="'retailEndpointUrl'">WEB клиент</th>
        <th></th>
        <th 
            td-data-table-column 
            [name]="'retailEndpointVersion'"
            [sortable]="true"
            [active]="sortBy == 'retailEndpointVersion'"
            (sortChange)="sort($event)"
            [sortOrder]="sortOrder"
        >
            Версия расширения</th>
      </tr>
    </thead>
    <tbody>
      <tr td-data-table-row *ngFor="let retailEndpoint of atomicData; let npp = index">
        <td td-data-table-cell>{{ npp+1 }}</td>
        <td td-data-table-cell><a [routerLink]="['/endpoints/', retailEndpoint.retailEndpointIdentity]">{{ retailEndpoint.retailEndpointName }}</a></td>
        <!-- <td td-data-table-cell>{{ retailEndpoint.retailEndpointHost }}</td> -->
        <td td-data-table-cell><a href="{{ retailEndpoint.retailEndpointUrl }}" target="_blank">{{ retailEndpoint.retailEndpointUrl }}</a></td>
        <td td-data-table-cell>
          <div *ngIf="retailEndpoint.extData.retailExtConfiguration && retailEndpoint.extData.retailExtConfiguration.jsonData">
            <app-endpoint-ext-configuration [retailExtConfiguration]="retailEndpoint.extData.retailExtConfiguration" ></app-endpoint-ext-configuration>
          </div>
        </td>
        <td td-data-table-cell>
            <app-endpoint-version [retailVersion]="retailEndpoint.extData.retailVersion"></app-endpoint-version>
        </td>
      </tr>
    </tbody>
   </table>